<!DOCTYPE html>
<html lang="en">
<head>
  <title>Care & Share News</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="p-5 bg-primary text-white text-center">
  <h1>Singapore's Top & Latest News</h1>
  
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-8 mx-auto">
            
            <br>
            <h2>Housing as a Social Determinant of Health in Singapore.</h2>
            <h5>Residence in public rental housing is an area-level measure of socioeconomic status, but its impact as a social determinant of health in Singapore has not been studied.</h5>
            <br>
            <div class="img-fluid d-flex justify-content-center">
                <img src="https://www.xtrafondos.com/wallpapers/rascacielos-de-en-la-marina-singapur-4207.jpg" style="max-width: 1000px; max-height: 400px;">
            </div>
            <br>
            <p>Housing is a paradigmatic example of a social determinant of health, 
              as it influences and is influenced by structural determinants,
               such as social, macroeconomic, and public policies, politics, education,
               income, and ethnicity/race, all intersecting to shaping the health and well-being of populations.
              It can therefore be argued that housing policy is critically linked to health policy. However, the ex...... [See More] </p>

            <p><b>Use our interactive form that would assist in predicting whether you have cardiovascular disease.<b></p>
            <a class="btn btn-primary active" href="/cardiovascular">Predict Cardiovascular disease</a>

            <br>
            <h2 class="mt-5">The impact of cooling measures: How HDB resale prices have changed in every Singapore town</h2>
            <h5>Singapore has imposed three sets of property cooling measures in less than 18 months - all aimed at bringing prices down in a red-hot market.</h5>
            <div class="img-fluid d-flex justify-content-center">
                <img src="https://images.theconversation.com/files/286446/original/file-20190731-186846-1e3xssd.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=754&fit=clip" style="max-width: 1000px; max-height: 400px;">
            </div>
            <br>
            <p>In the first quarter of 2023, the HDB resale price index grew 1 per cent from the preceding quarter -  slower than the 2.3 per cent growth in the fourth quarter of 2022. However, it was also the 12th consecutive quarter that the resale price index has increased.
              Cooling measures were implemented in December 2021, September 2022 and April 2023. While the latest tranche this year was firmly aimed at the private housing market by raising additional buyer's stamp duty (ABSD), measures in the previous two sets targeted the public housing market....[See More]</p>
            
            <p><b>Use our interactive form to predict potential resale flat prices.<b></p>
            <a class="btn btn-primary active" href="/hdb">Predict HDB price</a>
            
            
        </div>
        </div>
        </div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  
</div>

</body>
</html>
